<!-- <mat-list class="_condensed">
  <mat-list-item *ngFor="let gameLog of gameLogs">
    <span ngClass="gameLog.type">{{ gameLog.data }}</span>
  </mat-list-item>
</mat-list> -->

<table mat-table [dataSource]="gameLogs" [trackBy]="trackBy" matSortActive="sortField" matSortDirection="sortDirection">

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date | date:'yyyyMMdd HH:mm:ss' }}</td>
  </ng-container>
  
  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let element">{{ element.data }}</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="2">No data</td>
  </tr>

</table>