<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Game Details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" [trackBy]="trackBy">
    
      <ng-container matColumnDef="Label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element">{{ element.Label }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element">{{ element.Value }}</td>
      </ng-container>
    
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; stick: true"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="2">No data</td>
      </tr>
    </table>
  </mat-card-content>

</mat-card>

<!-- Version {{ tickData?.version }}<br>
Seed {{ tickData?.seed }}<br>
Time {{ tickData?.time }}<br>
Evolution {{ tickData?.evolution }}<br> -->